<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交換Token</title>
</head>
<body>
<div id="title1">交換Token</div>
<form id="form1" method="post" action="http://127.0.0.1:8080/users-auth/token-change">
    <input type="hidden" name="code" value={{.code}}><br>
    <input type="submit" value="進入個人頁面">
</form>
</body>
</html>