<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>建立臨時性Token</title>
</head>
<body>
<div id="title1">建立臨時性Token</div>
<div>
<label>{{.status}}</label> <br>
<label>{{.message}}</label> <br>
<a href={{.url}}> 獲取真Token </a>
</div>
</body>
</html>