<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token交換失敗</title>
</head>
<body>
<div id="title1">Token交換失敗</div>
<label>{{.status}}</label> <br>
<label>{{.message}}</label> <br>
</body>
</html>