<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登入頁面</title>
</head>
<body>
<div id="title1">登入頁面</div>
<form  id="form1" method="post" action="http://127.0.0.1:8080/users-auth/login">
  帳號: <input required type = "text" name = "account"><br>
  密碼: <input required type = "password" name = "password"><br>
  <input type = "submit" value = "登入"><br>
  <input type = "button" value = "註冊" onclick="location.href='http://127.0.0.1:8080/register'"><br>
  <input type="button" value="忘記密碼" onclick="location.href='http://127.0.0.1:8080/forget-password'">
</form>

</body>
</html>
