<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>註冊頁面</title>
</head>
<body>
<div id="title1">註冊頁面</div>

<form id="form1" method="post" action="http://127.0.0.1:8080/register" >
  姓氏: <input required type = "text" name = "last_name"><br>
  姓名: <input required type = "text" name = "first_name"><br>
  暱稱: <input type = "text" name = "nick_name"><br>
  帳號: <input required type = "text" name = "account"><br>
  密碼: <input required type = "password" name = "password"><br>
  電子信箱: <input required type = "text" name = "email"><br>
  性別: <input required type="radio" name="gender" value="0">女
  <input type="radio" name="gender" value="1">男<br>
  <input type="submit" value="送出" >
  <input type = "button" value = "取消" onclick="location.href='http://127.0.0.1:8080/login'">
</form>
</body>
</html>
