<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>重設忘記密碼</title>
</head>
<body>
<div id="title1">重設忘記密碼頁面</div>
<form id="form1" method="post" action="http://127.0.0.1:8080/reset-forget-password">
<input type="hidden" name="code" value={{.code}}><br>
  <input type="hidden" name="email" value={{.email}}>
  新密碼:<input type="password" name="password">
  <input type="submit" value="送出">
</form>
</body>
</html>