<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>返回登入</title>
</head>
<body>
<div id="title1">返回登入</div>
<label>{{.status}}</label> <br>
<label>{{.message}}</label> <br>
<input type = "button" value = "返回登入" onclick="location.href='http://127.0.0.1:8080/login'"><br>
</body>
</html>